#hero{
    position: relative;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}
#hero img{
    width: 500px;
}
.hero-text{
    margin: 70px 20px;
}
.hero-blur{
    width: 10rem;
    height: 20rem;
    left:10%;
    top: -20px;
}

@media only screen and (max-width: 480px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
    #hero img{
        width: 100%;
        margin-left: 15px;
    }
    .hero-text{
        margin: 40px 15px;
    }
  }
  @media only screen and (max-width: 300px) {
    
    #hero img{
        width: 250px;
        margin-left: 15px;
    }
  }